@import '../../style/var.scss';

.filter__item {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 91%;
    height: 40px;

    padding-left: 18px;

    &:first-child {
        color: $black;
    }

    &__label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        width: 200px;
    }

    &__input {
        appearance: none;
        width: 25px;
        height: 20px;
        background-image: url('../../assets/checkboxnull.png');

        &:checked {
            width: 25px;
            height: 20px;
            background-image: url('../../assets/checkbox.png');
        }
    }

    &__title {
        display: block;
        margin-left: 15px;
        width: 100%;
    }
}
