@import '../../style/var.scss';

.ticket__box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 184px;
    margin-top: 20px;

    background-color: $white-color;
    border-radius: 5px;
    box-shadow: 3px 6px 13px 0px $box-shadow;

    padding: 0 20px 10px 20px;

    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }

    &__header {
        display: flex;
        height: 65px;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: 24px;
        font-weight: 700;
        color: $active-color;
        width: 30%;
    }

    &__img {
        width: 84px;
        height: 40px;
    }
}
