@import '../../style/var.scss';

.header__btn {
    width: 100%;
    height: 50px;
    border: none;
    background-color: $white-color;

    &-active {
        background-color: $active-color;
        color: $white-color;
    }

    &:hover {
        cursor: pointer;
    }
}
