$base-color: rgb(194, 188, 188);
$app-color: #d1e3e3;
$white-color: #ffffff;
$box-shadow: rgba(0, 0, 0, 0.33);
$box-shadow-header: rgba(0, 0, 0, 0.23);
$black: black;
$active-color: #2196f3;
$hover-color: #4aacfd;
$info-color: #a0b0b9;
