$menu-color: #ffffff;

.aviasales__menu {
    width: 232px;
    height: 258px;
    background-color: $menu-color;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    box-shadow: 3px 6px 13px 0px rgba(0, 0, 0, 0.33);

    &__title {
        font-size: 12px;
        margin: 18px;
        padding: 0;
    }

    &__filters {
        display: flex;
        flex-direction: column;

        font-size: 13px;

        list-style: none;
        padding: 0;
    }
}
