@import '../src/style/var.scss';

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $base-color;
    margin: 0;
}

.wrapper__app {
    position: relative;
    max-width: 960px;
    min-height: 100vh;

    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 50px;

    background-color: $app-color;

    &::before {
        content: '';
        position: absolute;
        top: 50px;
        left: 449px;

        width: 62px;
        height: 75px;

        background: url('./assets/Logo.png');
        background-position: -10px -10px;
        background-repeat: no-repeat;
    }

    &__box {
        display: flex;
        flex-direction: row;
        max-width: 755px;
        margin: 0 auto;
    }
}

.wrapper__context {
    display: flex;
    flex-direction: column;

    width: 542px;
    min-height: 300px;

    padding-left: 20px;
    // background-color:;
}
