@import '../../style/var.scss';

.segment__item {
    width: 100%;
    height: 58px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__info__title {
        font-size: 12px;
        font-weight: 700;
        color: $info-color;
        margin-bottom: 5px;
    }

    &__date {
        font-size: 14px;
        font-weight: 700;
    }
}
